body{
    display: flex;
    justify-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    margin-top: 80px;
    background-color: #eee;
}
.card{
    background-color: white;
    border-radius: 10px;
    margin-top: center;
    padding: 20px;
    line-height: 30px;
    width: 30%;
}
.card h1{
  font-size: 30px;
  text-align: center;
}
#resultado{
    padding-left: 10px;
}
button{
    background-color: #007bff;
    padding: 10px;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
}
button:hover{
    transition: 1s;
    background-color: blue;
}
