body{
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 20px;
 }
 .container{
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
 }
 h1, h2{
    color: #333;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
    margin-bottom: 25px;
 }
 .add-user-form {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
 }
.add-user-form input{
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.add-user-form button{
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.add-user-form button:hover{
    background-color: #218838;
}
.user-card{
    border-radius: 10px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px  5px rgba(0,0,0,0.5) ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cards-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px
}
.user-info{
    font-size: 1.1em;
    margin-bottom: 15px;
}
.user-info strong{
    color: black;
}
.card-buttons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.card-buttons button{
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s;
}
.btn-edit{
    background-color: #007bff;
}
.btn-edit:hover{
    background-color: #0056b3;
}
.btn-delete{
    background-color: #dc3545;
}
.btn-delete:hover{
    background-color: #c82333;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}
.modal-content{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0,3);
    width: 90%;
    max-width: 450px;
}
.modal-content h2{
    margin-top: 0;
    border-bottom: 3px solid #eee;
}
.modal-content form label{
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: black;
}
.modal-content form input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.modal-buttons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}
.btn-save{
    background-color: #2ba745;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.btn-cancel{
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.left-section {
    display: flex;
    align-items: center;
    gap: 30px;
}
.logo img {
    height: 40px;
}
nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
    padding-bottom: 5px;
}
nav ul li a:hover {
    border-bottom-color: rgb(84, 80, 80);
}
.icons {
    display: flex;
    gap: 20px;
}
.icons i {
    color: white;
    cursor: pointer;
    font-size: 18px;
}
.linha-gradiente {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: linear-gradient(
        to right,
        black 0%,
        #222 10%,
        #444 20%,
        #666 30%,
        white 50%,
        grey 70%,
        white,
        black 100%
    );
}